html {
  box-sizing: border-box;
  font-size: 62.5%; /* font-size: 10px; */
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100vh;
  background-color: #141627;
  font-family: "Roboto", sans-serif;
  background-image: url(./Files/map.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 18% 55% 27%;
}

/* Reset Style */
a {
  text-decoration: none;
}

.menu {
  padding: 2rem 1rem;
  color: white;
  overflow: hidden;
  position: relative;
}

.gra-back {
  z-index: -1;
  border-radius: 100%;
  position: absolute;
  right: -24rem;
  top: 4rem;
  width: 30rem;
  height: 30rem;
  background: linear-gradient(
    180deg,
    rgba(57, 31, 130, 1) 0%,
    rgba(119, 35, 117, 1) 100%
  );
  filter: blur(50px);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  color: #d0d3e7;
}

.menu__logo {
  font-size: 2rem;
}
.menu__icon {
  filter: invert(43%) sepia(9%) saturate(1339%) hue-rotate(196deg)
    brightness(91%) contrast(84%);
		cursor: pointer;
}

.menu__lists {
  color: #646887;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu__lists--item {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  margin: 0.5rem 0;
	cursor: pointer;
}

.menu__lists--item-active,
.menu__lists--item:hover {
  background-color: #3e3376;
  color: #d0d3e7;
  border-radius: 1.5rem;
}

/*filter: invert(81%) sepia(2%) saturate(2881%) hue-rotate(197deg) brightness(112%) contrast(81%);*/

.menu__list--icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
  filter: invert(44%) sepia(11%) saturate(1071%) hue-rotate(196deg)
    brightness(87%) contrast(83%);
}

.menu__lists--title {
}

.alert-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 100%;
  background-color: #e5549a;
  color: white;
  width: 2rem;
  height: 2rem;
  margin-left: 6.5rem;
}

.content {
  padding: 2rem 3rem;
}

.content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.create-btn {
  display: flex;
  align-items: center;
  color: white;
  background-color: #765cde;
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
	cursor: pointer;
}

.create-btn img {
  width: 2rem;
  height: 2rem;
  filter: invert(97%) sepia(13%) saturate(157%) hue-rotate(282deg)
    brightness(121%) contrast(100%);
  margin-right: 0.5rem;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__icon {
  filter: invert(39%) sepia(8%) saturate(1519%) hue-rotate(196deg)
    brightness(99%) contrast(83%);
		cursor: pointer;
}

.profile__name {
  margin: 0 1rem;
  color: #a1a4b8;
}

.profile__img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.welcome {
  color: #646887;
  font-weight: 200;
}

.name {
  color: #d0d3e7;
  font-weight: bold;
}


.first-box {
  background-color: #1c1f36;
  padding: 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.first-box__content {
  position: relative;
}

.available {
  color: #5b5f7d;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 3rem;
}

.first-box__content span span {
  color: #8d90a5;
  font-weight: bold;
  font-size: 1.5rem;
}

.first-box__content h2 {
  max-width: 39rem;
  font-size: 2.1rem;
  line-height: 1.3;
  color: #d0d3e7;
}

.sub-heading {
  color: #646887;
  font-size: 1.7;
  font-weight: bold;
  display: block;
  margin: 2rem 0;
}

.first-box__content p {
  max-width: 43rem;
  color: #494c68;
}

.first-box__img {
}

.first-box__img img {
  width: 23rem;
	margin-right: -7rem;
  /* position: absolute;
  right: 36rem;
  top: 24rem; */
  animation-duration: 5s;
  animation-name: float;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}

.first-box__content button {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  border: none;
  margin: 2rem 0 1rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  background-size: 200% 200%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 4s ease infinite;
	cursor: pointer;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.play-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(182deg)
    brightness(108%) contrast(101%);
}

.second-box {
}

.second-box__top {
  display: flex;
  justify-content: space-between;
	align-items: center;
  margin: 3rem 0;
}

.second-box__top--title {
  display: flex;
  align-items: center;
}

.second-box__top--title h2 {
  color: #d0d3e7;
  font-weight: 400;
}

.campaigns-counter {
  background-color: #3795ca;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 100%;
  color: white;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.second-box__top--icon {
display: flex;
justify-content: center;
align-items: center;
}

.second-box__icon,.filter__icon,.activity__box--arrow-icon {
  width: 2rem;
  height: 2rem;
  filter: invert(40%) sepia(24%) saturate(408%) hue-rotate(196deg)
    brightness(97%) contrast(100%);
		cursor: pointer;
}

.second-box__icon-plus , .arrow ,.activity__head--icon, .activity__box--arrow {
	background-color: #252943;
	padding: 1rem;
	border-radius: 1.5rem;
	margin-left: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.second-box__icon-plus , .arrow {
	margin-right: 2rem;
}

.activity__head--icon {
margin: 0;	
}

.second-box__bot {
  background-color: #1c1f36;
  padding: 4rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.second-box__bot--head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-box__head--title {
color: #d0d3e7;
position: relative;
}

.second-box__head--title::before {
	content: "";
	position: absolute;
	top: 40%;
	left: -1.5rem;
	background-color: #9cc821;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
}

.second-box__head--icon {
display: flex;
justify-content: center;
align-items: center;
}

.second-box__body {
position: relative;
display: flex;
justify-content: space-between;
z-index: 1;
}

.second-box__body--img {
	width: 40rem;
}

.second-box__body--img img {
	width: 100%;
}

.bg2 {
	z-index: -1;
  border-radius: 100%;
  position: absolute;
  width: 25rem;
  height: 25rem;
  background: linear-gradient(
    180deg,
    rgba(131, 80, 82, 1) 0%,
    rgba(87, 48, 107, 1) 100%
  );
  filter: blur(50px);
}

.second-box__body--content {
	display: flex;
	flex-direction: column;
margin-left: 1rem;
}

.second-box__content--top {
display: flex;
justify-content: space-between;
align-items: flex-end;
margin-bottom: 2rem;
}

.second-box__content--top-left {

}

.second-box__content--top-left span {
	font-size: 1rem;
	color: #646887;
	margin-bottom: 1rem;
}

.second-box__content--top-left h3 {
	color:#d0d3e7;
	font-size: 2rem;
	/* max-width: 25rem; */
}
.second-box__content--top-right {
	position: relative;
	padding-left:1.2rem ;
}

.second-box__content--top-right::before {
content: "3.42%";
color: #9cc821;
font-size: 1.5rem;
font-weight: bold;
position: absolute;
right: 1rem;
top: -1rem;
}

.second-box__content--top-right img {
	width: 100%;
}

.second-box__content--bot {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1.5rem;
}

.second-box__content--bot span {
	display: block;
	color: #d0d3e7;
	font-size: 2rem;
	font-weight: bold;
}

.second-box__content--bot .under-number {
	color: #646887;
	font-weight: 300;
	font-size: 1.5rem;
}

.second-box__content--bot div:nth-child(2) {
	padding: 0 2rem;
	border-left: 1px solid #282d4a ;
	border-right: 1px solid #282d4a;
}

.right-side {
  padding: 2rem 1rem;
}

.live {
  text-align: right;
	margin-bottom: 20rem;
}

.live-top {
  display: block;
  color: #d0d3e7;
  font-size: 2rem;
}

.live-bto {
  color: #646887;
}

.live-bto span {
  color: #d0d3e7;
}

.activity__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.activity__head h2 {
	color: #d0d3e7;
	font-weight: 500;
	font-size: 1.8;
}

.activity__box {
background-color: #1c1f36;
border-radius: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.5rem 1rem;
margin: 1rem 0;
}

.activity__box--img {
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	position: relative;	
}

.activity__box--img-2 {
	width: 4rem;
	height: 4rem;
	border-radius: 2rem;
}

.activity__box--img img , .activity__box--img-2 img {
	width:100%
}

.activity-type {
	position: absolute;
	bottom: -0.3rem;
	right: -1rem;
	width: 2.3rem;
	height: 2.3rem;
	background-color: #1c1f36;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.activity-type img {
	width: 1.5rem;
	height: 1.5rem;
}

.activity__box--img img {
	width: 100%;
	border-radius: 100%;
}

.activity__box--text {
	width: 19rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 1rem;
	flex-grow: 1;
}

.activity__box--text-top {
	color: #c5c8dc;
	font-weight: 500;
	font-size: 1.4rem;
}

.activity__box--text-top span {
	color: #525572;
	font-size: 1.2rem;
}

.activity__box--text-bot {
	color: #646887;
	font-size: 1.1rem;
}

.activity__box--arrow {
	margin-left: 0;
	padding: 0.8rem;
}

.facebook-icon {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}

.comment {
	filter: invert(39%) sepia(63%) saturate(821%) hue-rotate(216deg) brightness(91%) contrast(93%);	
}

.msg {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.msg-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.msg-all {
	width: 100%;
	height: 120px;
	overflow-y: scroll;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
}

.activity__box--msg-l ,.activity__box--msg-r{
	max-width: 18rem;
	padding: 1rem;
	border-radius: 3rem;
	background-color: #252944;
	position: relative;
	margin-bottom:1rem;
}

.activity__box--msg-r {
align-self: flex-end;
}

.activity__box--msg-l::before {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	top: 50%;
	left: -0.5rem;
	background-color: #252944;
	transform: rotate(45deg);
}

.activity__box--msg-r::before {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	top: 50%;
	right: -0.5rem;
	background-color: #252944;
	transform: rotate(45deg);
}

.activity__box--msg-l-msg, .activity__box--msg-r-msg {
color:#62678c;
font-size: 1.5rem;
}

.activity__box--msg-l-time , .activity__box--msg-r-time {
color:#434765;
font-size: 1.2rem;
}

.msg-bot {
	background-color: #1c1f36;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #2a2e4c;
	padding-top: 1rem;
}

.msg-bot input {
	border: none;
	background-color: transparent;
	padding: 1.5rem 1rem;
	outline: none;
	color: #474d7a;
}

.msg-bot input::placeholder {
	color: #5b5f7d;
}

.send-btn {
background: none;
border: none;
cursor: pointer;
}

.send-btn img {
	filter: invert(43%) sepia(9%) saturate(1075%) hue-rotate(196deg) brightness(94%) contrast(97%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3e467e;
  border: 0px none #ff0000;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e467e;
}
::-webkit-scrollbar-thumb:active {
  background: #3e467e;
}
::-webkit-scrollbar-track {
  background: #1f2f44;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #1f2f44;
}
::-webkit-scrollbar-track:active {
  background: #1f2f44;
}
::-webkit-scrollbar-corner {
  background: transparent;
}